<div class="top-row ps-3 navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="">Login Clinica</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable bg-dark text-white p-3" @onclick="ToggleNavMenu" style="height: 100vh;">
    <nav class="flex-column">
        <div class="nav-item px-3 py-2">
            <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3 py-2">
            <NavLink class="nav-link text-white" href="estadopaciente">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Estado de Paciente
            </NavLink>
        </div>
        <div class="nav-item px-3 py-2">
            <NavLink class="nav-link text-white" href="D_Complement">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Datos Complementarios
            </NavLink>
        </div>
        <div class="nav-item px-3 py-2">
            <NavLink class="nav-link text-white" href="weather">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
            </NavLink>
</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="g_familiar">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Grupo Familiar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather

            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
