 @page "/d_complement"

<PageTitle>Datos Complementarios</PageTitle>

<h1>Datos Complementarios</h1>
<form class"form-group">
    <div class="container">
        <h2>Identificación</h2>
        <div class="body">
            <div class="col-4">
                <label class="label" for="imagen">Imagen:</label>
                <input type="file" id="imagen" accept="image/*">
            </div>
            <div class="col-4">
                <label class="label" for="huellaDigital">Huella Digital:</label>
                <input type="file" id="huellaDigital" accept="image/*">
            </div>
            <div class="col-4">
                <label class="label" for="firma">Firma:</label>
                <input type="file" id="firma" accept="image/*">
            </div>
            <div class="col-4">
                <label class="label" for="Rasgos">Rasgos Fisicos:</label>
                <input type="textarea">
            </div>

        </div>
    </div>
</form>
<div class="container">
    <h2>Datos Geográficos</h2>
    <div class="row">
        <div class="col-4">
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" class="form-control">
        </div>
        <div class="col-4">
            <label for="ubicacionGeoreferencial">Ubicación Georeferencial:</label>
            <input type="text" id="ubicacionGeoreferencial" class="form-control">
        </div>
        <div class="col-4">
            <label for="ubicacionGeoreferencialAdicional">Ubicación Georeferencial Adicional:</label>
            <input type="text" id="ubicacionGeoreferencialAdicional" class="form-control">
        </div>
        <div class="col-4">
            <label for="referencias">Referencias:</label>
            <input type="text" id="referencias" class="form-control">
        </div>
    </div>
</div>
<div class="container">
    <h2>Datos Adicionales</h2>
    <div class="row">
        <div class="col-4">
            <label for="grupoSanguineo">Grupo Sanguíneo:</label>
            <input type="text" id="grupoSanguineo" class="form-control">
        </div>
        <div class="col-4">
            <label for="codigoBarras">Código de Barras:</label>
            <input type="text" id="codigoBarras" class="form-control">
        </div>
        <div class="col-4">
            <label for="personasDeReferencias">Personas de Referencias:</label>
            <input type="text" id="personasDeReferencias" class="form-control">
        </div>
    </div>
</div>


@code {
 
}

