@page "/g_familiar"

<PageTitle>Grupo Familiar</PageTitle>

<div class="col-3">
        <label class="label" for="Paciente">Paciente:</label>
        <label class="label" for="IDpasiente">019111:</label>
        <label class="label" for="NamePaciente">PAGAUDA DAVILA HEBER DARIO:</label>

</div>


@code {

   
}

}
