<h3>Grupo Familiar</h3>


   <div class="body">
            <div class="col-4">
                <label class="label" for="imagen">Imagen:</label>
                <input type="file" id="imagen" accept="image/*">
            </div>
            <div class="col-4">
                <label class="label" for="huellaDigital">Huella Digital:</label>
                <input type="file" id="huellaDigital" accept="image/*">
            </div>
            <div class="col-4">
                <label class="label" for="firma">Firma:</label>
                <input type="file" id="firma" accept="image/*">
            </div>
    </div>


@code {

}
